<div class="hospital-container">
  <div class="hospital-main">
    <div class="hospital-main__left">
      <%= render 'hospitals/form', obj: @hospital, title:'登録情報変更', button:'登録情報変更' %>
    </div>

    <div class="hospital-main__right">
      <%= render 'hospitals/search' %>
    </div>
  </div>
</div>
