<div class="hospital-container">
  <div class="hospital-main">
    <div class="hospital-main__left">
      <%= render 'hospitals/form', obj: @hospital, title:'医療機関新規登録', button:'新規登録' %>
    </div>

    <div class="hospital-main__right">
      <%= render 'hospitals/search' %>
    </div>
  </div>
</div>
