.login-form {
  &__box {
    margin: 10% auto;
    width: 450px;
    background-color: #fff;
    border-radius: 0.5rem;
    filter: drop-shadow(1rem 1rem 1rem #0004);
    padding: 2rem 1rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: normal;
    font-family: Lato;
    letter-spacing: 0.5rem;
    text-align: center;
    margin: 1rem 0 1rem;
  }

  &__text {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.14rem;
    text-align: center;
    margin: 1rem 0 4rem;
  }
}

.prof__text-area__wrapper {
  position: relative;
  pointer-events: none;
  &::before {
    display: block;
    content: "";
    position: absolute;
    width: calc(100% - 3rem);
    height: 0.5rem;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    bottom: 0;
    right: 1rem;
  }
  &::after {
    display: block;
    content: "";
    position: absolute;
    width: calc(100% - 3rem);
    height: 0.5rem;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    top: 1.5rem;
    left: 1rem;
  }
}

@media screen and (max-width: 560px) {
  .login-form {
    &__box {
      margin: auto 0;
      width: 100%;
      filter: none;
      padding: 2rem 1rem;
      border-radius: 0;
    }
  }
}
