.footer {
  background-color: $white;
  border-top: 2px solid $gray;
  font-family: Lato;
  letter-spacing: 0.1rem;
  margin-top: auto;
  text-align: center;
}

.footer-contents {
  width: 960px;
  min-height: 15rem;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-content {
  margin: 0 auto;
  font-size: 0.9rem;
  &__text {
    text-align: left;
    letter-spacing: 0.05rem;
    & ul {
      list-style: none;
    }
    li {
      line-height: 1.5rem;
    }
  }
  &__title {
    font-weight: bold;
    margin: 1rem 0;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      height: 1.5rem;
      width: 2px;
      background-color: $primary;
      top: 0;
      left: -0.5rem;
    }
  }
}

.footer-nav {
  width: 960px;
  min-height: 5rem;
  margin: 1rem auto;
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
  }
  &__content {
    display: inline-block;
    z-index: 2;
    transition: all 0.2s;
    padding: 0.5rem;
    position: relative;
    &:hover {
      color: $white;
    }
    &::before {
      position: absolute;
      z-index: -1;
      content: "";
      width: 1.6rem;
      height: 1.6rem;
      background: $secondary;
      top: 0.25rem;
      left: 0;
      transition: all 0.3s;
    }
    &:hover::before {
      width: 100%;
    }
    &::after {
      position: absolute;
      z-index: -1;
      content: "";
      width: 1.5rem;
      height: 0.25rem;
      background: $white;
      bottom: 0.25rem;
      border-top: 2px solid $white;
      left: 0;
      transition: all 0.3s;
    }
    &:hover::after {
      background: $secondary;
      width: 100%;
    }
    &:first-letter {
      color: $white;
      font-weight: bold;
      transition: all 0.3s;
    }
    &:hover:first-letter {
      font-weight: normal;
    }
  }
}

.footer-search__prefecture {
  & dl > dt {
    display: inline-block;
  }
}

@media screen and (max-width: 960px) {
  .footer-contents {
    width: 100%;
    margin: 5% auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (max-width: 560px) {
    .footer {
      background-color: $white;
      border-top: 2px solid $gray;
      font-family: Lato;
      letter-spacing: 0.1rem;
      margin-top: auto;
      text-align: center;
    }
  }

  .footer-contents {
    width: 100%;
    margin: 5% auto;
    grid-template-columns: 1fr;
  }

  .footer-content {
    margin: 0 0 0 5%;
    &__text {
      margin: 1rem 0;
      & ul {
        margin-left: 5%;
        list-style: none;
      }
    }
    &__title {
      margin: 1rem 0;
    }
  }

  .footer-nav {
    width: 100%;
    margin: 5% auto;
    &__list {
      grid-template-columns: 1fr;
      list-style: none;
      text-align: left;
      margin-left: 5%;
    }
  }
}
