.header {
  display: flex;
  z-index: 100;
  border-bottom: 1px solid #f4f4ff;
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(3px);
  filter: drop-shadow(0 0.5rem 0.5rem #0004);
}

.top-title {
  font-family: Lato;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.nav {
  width: 1280px;
  margin: 0 auto;
  height: 3rem;
  line-height: 3rem;

  &-list {
    display: flex;
    list-style: none;

    &__content {
      text-align: center;

      a {
        position: relative;
        display: block;
        padding: 0 1rem;
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        &:hover {
          color: #0099ff;
        }
        &::before {
          display: block;
          content: "";
          position: absolute;
          width: 30%;
          height: 4px;
          border-top: 2px solid #0099ff;
          border-right: 2px solid #0099ff;
          top: 0.3rem;
          right: 0.3rem;
          transition: all 0.2s;
          opacity: 0;
        }
        &:hover::before {
          border-right: none;
          border-left: 2px solid #0099ff;
          top: 0.3rem;
          right: calc(70% - 0.3rem);
          opacity: 1;
        }
        &::after {
          display: block;
          content: "";
          position: absolute;
          width: 30%;
          height: 4px;
          border-bottom: 2px solid #0099ff;
          border-left: 2px solid #0099ff;
          bottom: 0.3rem;
          left: 0.3rem;
          transition: all 0.2s;
          opacity: 0;
        }
        &:hover::after {
          border-left: none;
          border-right: 2px solid #0099ff;
          bottom: 0.3rem;
          left: calc(70% - 0.3rem);
          opacity: 1;
        }
      }

      &:nth-child(2) {
        margin-left: auto;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .header {
    display: none;
  }
}
