.hospital-container {
  width: 960px;
  margin: 3rem auto 10%;
}

.hospital-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.hospital-list {
  display: grid;
  position: relative;
  background-color: $white;
  padding: 1.5rem 1rem;
  margin: 0 1rem 2rem 0;
  grid-template-columns: 64px 8fr 1fr;
  border-radius: 0.5rem;
  transition: all 0.4s;
  filter: drop-shadow(1rem 0.8rem 1rem #0004);
  &__image {
    width: 4rem;
    height: 3rem;
    object-fit: contain;
    background-color: $white;
  }
  &__text {
    margin: auto 1rem;
    &__name {
      color: #000;
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
      font-weight: normal;
      margin-left: calc(-0.5rem + -2px);
      padding-left: 0.5rem;
      padding-bottom: -0.3rem;
      margin-bottom: 0.3rem;
      border-left: 4px solid $primary;
    }
    &__address {
      font-size: 0.9rem;
      letter-spacing: 0.05rem;
      font-weight: normal;
      padding-bottom: 0.3rem;
    }
    &__description {
      font-size: 0.9rem;
      letter-spacing: 0.05rem;
      padding-bottom: 0.3rem;
    }
    &__department-box {
      margin-top: 1rem;
    }
    &__department {
      font-size: 0.8rem;
    }
  }
  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    transform: rotate(45deg);
    border-top: 2px solid $secondary;
    border-right: 2px solid $secondary;
    top: calc(50% - 0.6rem);
    right: 2rem;
    transition: all 0.2s;
  }
  &:hover::after {
    border-top: 2px solid $primary;
    border-right: 2px solid $primary;
    right: 1.5rem;
  }
  &:hover {
    filter: drop-shadow(1rem 1rem 1rem #0007);
  }
  &:active {
    filter: drop-shadow(1rem 1rem 1rem #0000);
  }
}

.hospital-show {
  display: grid;
  width: 100vw;
  margin: 0 calc(50% - 50vw) 2rem;
  height: 10rem;
  background-color: #0005;
  backdrop-filter: blur(3px);
  grid-template-columns: 1fr 960px 1fr;
  &__intro {
    grid-column: 2;
    display: grid;
    grid-template-columns: 5rem 1fr 5rem;
    grid-template-rows: 2rem 1fr 2rem;
  }
  &__image {
    grid-column: 1;
    grid-row: 2;
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    background-color: $white;
    margin: auto auto;
    border-radius: 50%;
  }
  &__text {
    grid-column: 2;
    grid-row: 2;
    margin: auto 2rem;
  }
  &__name {
    color: $white;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: normal;
    padding-bottom: 0.3rem;
  }
  &__address {
    color: $white;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
    padding-bottom: 0.3rem;
  }
  &__description {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    padding-bottom: 0.3rem;
  }

  &__detail {
    background-color: $white;
    padding: 2rem 1rem;
    margin: 0 1rem 1rem 0;
    filter: drop-shadow(1rem 1rem 1rem #0004);
    border-radius: 0.5rem;
    position: relative;
  }

  &__department {
    font-size: 0.8rem;
  }

  &__doctors {
    margin: 2rem 0;
    &-info {
      border-left: 2px solid $primary;
      padding-left: 0.5rem;
      padding-bottom: 0.2rem;
    }
  }

  &__doctor {
    position: relative;
    display: grid;
    grid-template-columns: 4rem 1fr;
    padding: 0.5rem 0;
    transition: all 0.2s;
    &:hover {
      filter: drop-shadow(0.2rem 0.2rem 0.1rem #0004);
    }
    &-image {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
    &-name {
      grid-columns: 2;
      margin: auto 2rem;
    }
    &::after {
      display: block;
      content: "";
      position: absolute;
      width: 1rem;
      height: 1rem;
      transform: rotate(45deg);
      border-top: 2px solid $secondary;
      border-right: 2px solid $secondary;
      top: calc(50% - 0.6rem);
      right: 2rem;
      transition: all 0.2s;
    }
    &:hover::after {
      border-top: 2px solid $primary;
      border-right: 2px solid $primary;
      right: 1.5rem;
    }
  }

  &__info {
    margin: 2rem 0;
    &-text {
      border-left: 2px solid $primary;
      padding-left: 0.5rem;
      padding-bottom: 0.2rem;
      margin-bottom: 0.5rem;
    }
    p {
      padding-left: calc(0.5rem + 2px);
    }
    a {
      padding-left: calc(0.5rem + 2px);
      color: $primary;
    }
  }
  &__edit {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
  }
}

.hospital-search__container {
  background-color: $white;
  position: sticky;
  top: 4rem;
  padding: 2rem 0;
  border-radius: 0.5rem;
  filter: drop-shadow(1rem 1rem 1rem #0004);
}

.hospital-new__box {
  background-color: $white;
  padding: 2rem 1rem;
  margin: 1rem 1rem 10% 0;
  border-radius: 0.5rem;
  filter: drop-shadow(1rem 1rem 1rem #0004);
}

#hospital-show__map {
  height: 400px;
}

@media screen and (max-width: 960px) {
  .hospital-container {
    width: 100%;
  }

  .hospital-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 560px) {
  .hospital-container {
    width: 100%;
  }

  .hospital-main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hospital-list {
    padding: 1.5rem 1rem;
    margin: 0 0 1rem 0;
    border-radius: 0;
    &__text {
      &__name {
        font-size: 1.2rem;
        padding-bottom: -0.3rem;
        margin-bottom: 0;
      }
      &__address {
        font-size: 0.8rem;
        padding-bottom: 0.5rem;
      }
    }
    &::after {
      right: 1.5rem;
    }
    &:hover::after {
      right: 1rem;
    }
    &:hover {
      filter: drop-shadow(1rem 1rem 1rem #0007);
    }
    &:active {
      filter: drop-shadow(1rem 1rem 1rem #0000);
    }
  }

  .hospital-show {
    display: block;
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    height: 8rem;
    background-color: #0005;
    backdrop-filter: blur(3px);
    grid-template-columns: 1fr;
    &__intro {
      grid-column: 2;
      display: grid;
      grid-template-columns: 25% 1fr;
    }
    &__text {
      margin: auto 0;
    }
    &__address {
      font-size: 0.8rem;
    }

    &__detail {
      background-color: $white;
      padding: 2rem 1rem;
      margin: 0 0 1rem 0;
      filter: none;
      border-radius: 0;
    }

    &__doctor {
      &::after {
        right: 1rem;
      }
      &:hover::after {
        right: 0.5rem;
      }
    }
  }

  .hospital-new__box {
    background-color: $white;
    padding: 2rem 1rem;
    margin: 0 0 1rem 0;
    border-radius: 0;
    filter: none;
    position: relative;
    z-index: 1;
  }

  #hospital-show__map {
    height: 50vh;
  }

  .hospital-search__container {
    border-radius: 0;
    filter: none;
    margin-bottom: 1rem;
  }
}
