.opinion {
  &-box {
    border-top: 1px solid #ccc;
    padding-top: 2rem;
    margin-top: 1rem;
  }
  &__prof-box {
    display: grid;
    grid-template-columns: 3rem 1fr;
  }
  &__image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  &__name-box {
    margin: auto 0;
  }
  &__name {
    font-size: 1rem;
    border-left: 2px solid #0099ff;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
  }
  &__time {
    font-size: 0.9rem;
    color: lighten(#515151, 30%);
    margin-left: 1rem;
  }

  &__content-box::after {
    content: "";
    clear: both;
    display: block;
  }
  &__content {
    margin: 1rem;
  }
  &__edit {
    float: right;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 1rem;
  }

  &__comment {
    padding: 0.5rem 1rem;
    background-color: #f2f2f2;
    &::after {
      content: "";
      clear: both;
      display: block;
    }
    &-box {
      margin: 2rem 0;
    }
    &-size {
      font-size: 0.9rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
    }
    &__name {
      font-size: 1rem;
      border-left: 2px solid #0099ff;
      padding-left: 0.5rem;
    }
    &__time {
      font-size: 0.9rem;
      color: lighten(#515151, 30%);
      text-align: right;
    }

    &__content {
      margin: 1rem 0 1rem 0.5rem;
    }

    &__edit {
      float: right;
      font-size: 0.8rem;
      font-weight: bold;
    }
  }
}
