.tag {
  background-color: $primary;
  display: inline-block;
  color: $white;
  margin: 0.5rem 0;
  padding: 0.3rem 1.5rem 0.3rem 1.5rem;
  clip-path: polygon(
    0 80%,
    1rem 0,
    calc(100% - 0.5rem) 0,
    100% 20%,
    calc(100% - 1rem) 100%,
    0.5rem 100%
  );
}

.link {
  position: relative;
  color: $secondary;
  transition: all 0.3s;
  &:hover {
    color: $primary;
  }
  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid $primary;
    transition: all 0.2s;
  }
  &:hover::after {
    width: 100%;
  }
}

.footer-link {
  position: relative;
  transition: all 0.2s;
  &:hover {
    color: $primary;
  }
  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    border-bottom: 1px solid $primary;
    transition: all 0.2s;
  }
  &:hover::before {
    width: 100%;
  }
}

.comment-button {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  position: relative;
  cursor: pointer;
  &::before {
    position: absolute;
    content: "";
    width: 1rem;
    height: 0.7rem;
    bottom: -0.5rem;
    left: 0.5rem;
    background: $secondary;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    transition: all 0.2s;
  }
  &:hover::before {
    bottom: -1rem;
  }
  & > .fa-edit {
    font-size: 1.5rem;
    color: $secondary;
    transition: all 0.2s;
  }
  &:hover > .fa-edit {
    transform: scale(1.2);
  }
}

.post-button {
  position: relative;
  font-size: 0.8rem;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  color: $text-light;
  padding: 0.2rem 1rem 0.2rem 0.5rem;
  border: 2px solid $text-light;
  border-radius: 2rem;
  transition: all 0.2s;
  &:hover {
    color: $primary;
    border: 2px solid $primary;
  }
  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 0.2rem;
    height: 0.2rem;
    transform: rotate(135deg);
    border-top: 2px solid $text-light;
    border-right: 2px solid $text-light;
    top: calc(50% - 0.13rem);
    right: 0.5rem;
    transition: all 0.2s;
  }
  &:hover::after {
    border-top: 2px solid $primary;
    border-right: 2px solid $primary;
    top: 50%;
  }
}

.round-button {
  position: relative;
  font-size: 0.8rem;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  color: $text-light;
  padding: 0.2rem 1rem 0.2rem 0.5rem;
  border: 2px solid $text-light;
  border-radius: 2rem;
  transition: all 0.2s;
  &:hover {
    color: $primary;
    border: 2px solid $primary;
  }
  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 0.2rem;
    height: 0.2rem;
    transform: rotate(135deg);
    border-top: 2px solid $text-light;
    border-right: 2px solid $text-light;
    top: calc(50% - 0.13rem);
    right: 0.5rem;
    transition: all 0.2s;
  }
  &:hover::after {
    border-top: 2px solid $primary;
    border-right: 2px solid $primary;
    top: 50%;
  }
}

.button-default {
  display: inline-block;
  padding: 0.5rem 1rem;
  outline: 0;
  border-radius: 0.5rem;
  text-align: center;
  letter-spacing: 0.1rem;
  background: $primary;
  color: $white;
  font-weight: 600;
  border: 1px solid $primary;
  cursor: pointer;
  transition: all 0.2s;
  filter: drop-shadow(0 4px 3px #0000);
  &:hover {
    filter: drop-shadow(0 4px 3px #0004);
    transform: translateY(-1px);
  }
  &:active {
    filter: drop-shadow(0 4px 3px #0000);
    transform: translateY(0);
  }
}

.icon-round {
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
  border: 3px solid $secondary;
  background: $white;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem #0004);
  transition: 0.2s;
  &:hover {
    background: $primary;
    border-color: $primary;
    > i {
      color: $white;
    }
  }
  > i {
    width: 100%;
    height: 100%;
    line-height: 3rem;
    text-align: center;
    font-size: 2rem;
    color: $secondary;
    transition: 0.2s;
  }
}

.top-button {
  position: relative;
  display: block;
  padding: 0 1rem;
  height: 100%;
  transition: all 0.3s;
  background: $primary;
  color: $white !important;
  &:hover {
    background: $secondary !important;
  }
}
