.patient-container {
  width: 960px;
  margin: 3rem auto 0;
}

.patient-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.patient-head {
  display: grid;
  width: 100vw;
  margin: 0 calc(50% - 50vw) 2rem;
  height: 10rem;
  background-color: #0005;
  backdrop-filter: blur(3px);
  grid-template-columns: 1fr 960px 1fr;
}

.patient-info {
  &__box {
    position: relative;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 2rem 1rem 2rem;
    margin: 0 1rem 1rem 0;
    filter: drop-shadow(1rem 0.8rem 1rem #0004);
  }
  &__image {
    position: absolute;
    top: -6rem;
    left: 3rem;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: #fff;
  }
  &__name {
    font-size: 1rem;
    font-weight: bold;
    border-left: 2px solid #0099ff;
    padding-left: 0.5rem;
  }
  &__description {
    letter-spacing: 0.05rem;
    margin-left: 0.5rem;
    margin-top: 2rem;
  }

  &__posts {
    margin: 2rem 0;
    &-info {
      border-left: 2px solid #0099ff;
      padding-left: 0.5rem;
      padding-bottom: 0.2rem;
    }
  }
  &__post {
    position: relative;
    display: grid;
    grid-template-columns: 4rem 1fr;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    transition: all 0.2s;
    position: relative;
    &:hover {
      filter: drop-shadow(0.2rem 0.2rem 0.1rem #0004);
    }
    &::after {
      display: block;
      content: "";
      position: absolute;
      width: 1rem;
      height: 1rem;
      transform: rotate(45deg);
      border-top: 2px solid #ff9800;
      border-right: 2px solid #ff9800;
      top: calc(50% - 0.6rem);
      right: 2rem;
      transition: all 0.2s;
    }
    &:hover::after {
      border-top: 2px solid #0099ff;
      border-right: 2px solid #0099ff;
      right: 1.5rem;
    }
  }
  &__refferal {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
  &__text {
    margin: auto 2rem;
  }
  &__desease-name {
    grid-columns: 2;
    font-weight: bold;
  }
  &__comment-size {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 560px) {
  .patient-container {
    width: 100%;
    margin: 0;
  }
  .patient-main {
    display: grid;
    grid-template-columns: 1fr;
  }
  .patient-head {
    width: 100vw;
    height: 7rem;
    margin: 0 calc(50% - 50vw);
    grid-template-columns: 1fr;
  }

  .patient-info {
    &__box {
      border-radius: 0;
      padding: 2rem 1rem 2rem;
      margin: 0;
      filter: none;
    }
    &__image {
      position: absolute;
      top: -6rem;
      left: 3rem;
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      padding: 0.5rem;
      background-color: #fff;
    }
    &__name {
      font-size: 1rem;
      font-weight: bold;
      border-left: 2px solid #0099ff;
      padding-left: 0.5rem;
    }
    &__description {
      letter-spacing: 0.05rem;
      margin-left: 0.5rem;
      margin-top: 2rem;
    }

    &__hospitals {
      margin: 2rem 0;
      &-info {
        border-left: 2px solid #0099ff;
        padding-left: 0.5rem;
        padding-bottom: 0.2rem;
      }
    }
    &__post {
      position: relative;
      display: grid;
      grid-template-columns: 4rem 1fr;
      padding: 0.5rem 0;
      border-radius: 0.5rem;
      transition: all 0.2s;
      &:hover {
        filter: drop-shadow(0.2rem 0.2rem 0.1rem #0004);
      }
      &::after {
        right: 1rem;
      }
      &:hover::after {
        right: 0.5rem;
      }
    }
  }
}
