.post-container {
  width: 960px;
  margin: 3rem auto 0;
}

.post-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.post-box {
  background-color: #fff;
  border-radius: 0.5rem;
  margin: 0 1rem 1rem 0;
  padding: 2rem 1rem;
  filter: drop-shadow(1rem 1rem 1rem #0004);
}

.post-info {
  &__desease-name {
    font-size: 1rem;
    border-left: 2px solid #0099ff;
    padding-left: 0.5rem;
  }
  &__name {
    margin-left: calc(0.5rem + 2px);
  }
  &__time {
    text-align: right;
    font-size: 0.9rem;
    color: lighten(#515151, 30%);
    margin-right: 1rem;
  }
  &__detail {
    margin-top: 1rem;
    margin-left: calc(0.5rem + 2px);
    margin-bottom: 2rem;
    margin-right: 1rem;
  }

  &__refferal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    img {
      width: calc(100% / 3);
      object-fit: cover;
    }
  }
}

.post-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: lighten(#515151, 30%);
  padding: 0.2rem 1rem 0.2rem 0.5rem;
  border: 2px solid lighten(#515151, 30%);
  border-radius: 2rem;
  transition: all 0.2s;
  &:hover {
    color: #0099ff;
    border: 2px solid #0099ff;
  }
  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 0.2rem;
    height: 0.2rem;
    transform: rotate(135deg);
    border-top: 2px solid lighten(#515151, 30%);
    border-right: 2px solid lighten(#515151, 30%);
    top: calc(50% - 0.13rem);
    right: 0.5rem;
    transition: all 0.2s;
  }
  &:hover::after {
    border-top: 2px solid #0099ff;
    border-right: 2px solid #0099ff;
    top: 50%;
  }
}

.form-toggle {
  display: none;
}

.post-index__box {
  background-color: #fff;
  border-radius: 0.5rem;
  margin: 0 1rem 2rem 0;
  padding: 2rem 1rem;
  filter: drop-shadow(1rem 0.8rem 1rem #0004);
  transition: all 0.2s;
  &:hover {
    background-color: #eee;
    filter: drop-shadow(1rem 0.8rem 1rem #0007);
  }
}

.post-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  text-align: center;
}

.post-form {
  &__box {
    margin: 10% auto;
    width: 450px;
    background-color: #fff;
    border-radius: 0.5rem;
    filter: drop-shadow(1rem 1rem 1rem #0004);
    padding: 2rem 1rem;
  }

  &__icon {
    width: 100%;
    text-align: center;
  }

  &__title {
    font-size: 1.3rem;
    font-weight: normal;
    text-align: center;
    margin: 1rem 0 1rem;
  }

  &__text {
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0 4rem;
  }
}

@media screen and (max-width: 560px) {
  .post-container {
    width: 100%;
    margin: 0;
  }

  .post-main {
    grid-template-columns: 1fr;
  }

  .post-box {
    border-radius: 0;
    margin: 0;
    padding: 2rem 1rem;
    filter: none;
  }

  .post-info {
    &__desease-name {
      font-size: 1rem;
      border-left: 2px solid #0099ff;
      padding-left: 0.5rem;
    }
    &__name {
      margin-left: calc(0.5rem + 2px);
    }
    &__time {
      text-align: right;
      font-size: 0.9rem;
      color: lighten(#515151, 30%);
      margin-right: 1rem;
    }
    &__detail {
      margin-top: 1rem;
      margin-left: calc(0.5rem + 2px);
      margin-bottom: 2rem;
      margin-right: 1rem;
    }

    &__refferal {
      width: 100%;
      display: grid;
      padding-bottom: 2rem;
      img {
        width: 100%;
        object-fit: cover;
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }

  .post-index__box {
    border-radius: 0;
    margin: 0;
    filter: none;
  }

  .post-form {
    &__box {
      margin: 0;
      width: 100%;
      border-radius: 0;
      padding: 2rem 1rem;
    }
  }
}
