.post-container {
  width: 960px;
  margin: 3rem auto 0;
}

.post-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.post-box {
  background-color: #fff;
  border-radius: 0.5rem;
  margin: 10% 1rem 10% 0;
  padding: 2rem 1rem;
  filter: drop-shadow(1rem 1rem 1rem #0004);
}

.post-info {
  &__desease-name {
    font-size: 1rem;
    border-left: 2px solid #0099ff;
    padding-left: 0.5rem;
  }
  &__name {
    margin-left: calc(0.5rem + 2px);
  }
  &__time {
    text-align: right;
    font-size: 0.9rem;
    color: lighten(#515151, 30%);
    margin-right: 1rem;
  }
  &__department {
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border-radius: 1rem;
  }
  &__detail {
    margin-top: 1rem;
    margin-left: calc(0.5rem + 2px);
    margin-bottom: 2rem;
    margin-right: 1rem;
  }

  &__refferal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 2rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__lightbox {
    width: calc(100% / 3);
  }
  &__comment-box {
    text-align: right;
  }
}

.post-search__container {
  background-color: #fff;
  padding: 2rem 0;
  border-radius: 0.5rem;
  filter: drop-shadow(1rem 1rem 1rem #0004);
}

.form-toggle {
  display: none;
}

.post-index {
  &__box {
    background-color: #fff;
    border-radius: 0.5rem;
    margin: 0 1rem 2rem 0;
    padding: 2rem 1rem;
    filter: drop-shadow(1rem 0.8rem 1rem #0004);
    transition: all 0.2s;
    position: relative;
    &:hover {
    }
    &::before {
      position: absolute;
      content: "";
      bottom: 1rem;
      left: 30%;
      width: 30%;
      height: 1rem;
      transition: all 0.3s;
      clip-path: polygon(0 0.9rem, 100% 0.9rem, 100% 100%, 0 100%);
      background: #ff9800;
      opacity: 0;
    }
    &:hover::before {
      left: calc(70% - 1rem);
      clip-path: polygon(0 0.9rem, 90% 0.9rem, 85% 0, 100% 100%, 0 100%);
      opacity: 1;
    }
  }
  &__refferal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 2rem;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
.post-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  text-align: center;
}

.post-form {
  &__box {
    margin: 10% auto;
    width: 450px;
    background-color: #fff;
    border-radius: 0.5rem;
    filter: drop-shadow(1rem 1rem 1rem #0004);
    padding: 2rem 1rem;
  }

  &__icon {
    width: 100%;
    text-align: center;
    color: #ff9800;
  }

  &__title {
    font-size: 1.3rem;
    font-weight: normal;
    text-align: center;
    margin: 1rem 0 1rem;
  }

  &__text {
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0 4rem;
  }
}

@media screen and (max-width: 560px) {
  .post-container {
    width: 100%;
    margin: 0;
  }

  .post-main {
    grid-template-columns: 1fr;
  }

  .post-box {
    border-radius: 0;
    margin: 0;
    padding: 2rem 1rem;
    filter: none;
  }

  .post-info {
    &__desease-name {
      font-size: 1rem;
      border-left: 2px solid #0099ff;
      padding-left: 0.5rem;
    }
    &__name {
      margin-left: calc(0.5rem + 2px);
    }
    &__time {
      text-align: right;
      font-size: 0.9rem;
      color: lighten(#515151, 30%);
      margin-right: 1rem;
    }
    &__detail {
      margin-top: 1rem;
      margin-left: calc(0.5rem + 2px);
      margin-bottom: 2rem;
      margin-right: 1rem;
    }

    &__refferal {
      width: 100%;
      display: grid;
      padding-bottom: 2rem;
      img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 1rem;
      }
    }
    &__lightbox {
      width: 100%;
    }
  }

  .post-index {
    &__box {
      border-radius: 0;
      margin: 0;
      filter: none;
    }
    &__refferal {
      width: 100%;
      display: grid;
      padding-bottom: 2rem;
      img {
        width: 100%;
        object-fit: cover;
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }

  .post-form {
    &__box {
      margin: 0;
      width: 100%;
      border-radius: 0;
      padding: 2rem 1rem;
      filter: none;
    }
  }
}
