<div class="footer-contents">

  <div class="footer-content">
    <div class="footer-content__text">
      <div class="footer-content__title">
        <p>ダミータイトル1</p>
      </div>
      <ul>
        <li>
          ダミーテキスト1
        </li>
        <li>
          ダミーテキスト2
        </li>
        <li>
          ダミーテキスト3
        </li>
        <li>
          ダミーテキスト4
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-content">
    <div class="footer-content__text">
      <div class="footer-content__title">
        <p>ダミータイトル２</p>
      </div>
      <ul>
        <li>
          ダミーテキスト1
        </li>
        <li>
          ダミーテキスト2
        </li>
        <li>
          ダミーテキスト3
        </li>
        <li>
          ダミーテキスト4
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-content">
    <div class="footer-content__text">
      <div class="footer-content__title">
        <p>このサイトについて</p>
      </div>
      <ul>
        <li>
          利用規約
        </li>
        <li>
          プライバシーポリシー
        </li>
        <li>
          制作者
        </li>
      </ul>
    </div>
  </div>

</div>
